.footerContainer {
    background-image: url('../../sprites/footer.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    height: 500px;
}

.title {
    color: #FFF;
    font-family: Oswald;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.logo {
    max-width: 100%;
    height: auto;
    width: 150px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .footerContainer {
        padding: 15px;
        height: auto;
    }

    .logo {
        width: 120px;
    }
}

@media (max-width: 480px) {
    .footerContainer {
        padding: 10px;
        height: auto;
    }

    .logo {
        width: 100px;
    }
}
